<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <title>회원가입 | YOGAYO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href={{url_for('user_bp.static', filename='css/join.css')}}/>
  </head>

  <body>
    <div class="main_joiner">
      <div class="mj_joindata_box">
        <a href="https://yogaboy.notion.site/A-I-b57515253a8b4013bd470267235ca12f" target="”_black”">
          <img src={{url_for('user_bp.static', filename='images/symbol_image.png')}}/>
        </a>
        <div class="mj_jb_logo">
          <p>YOGAYO</p>
        </div>
        <p class="mj_jb_check">요가 동작을 점검하고 싶다면 가입해보셔요</p>
        <p class="mj_jb_email_text">이메일</p>
        <input type="text" id="user_email" class="mj_jb_email_box"/>
        <p class="mj_jb_nick_text">닉네임</p>
        <input type="text" id="nick_name" class="mj_jb_nick_box"/>
        <p class="mj_jb_password_text">비밀번호</p>
        <input type="password" id="user_password" class="mj_jb_password_box"/>
        <button id="join_button" class="mj_jb_join_button">회원 가입</button>
        <div class="mj_jb_question">회원이셔요?<div class="mj_jb_login" onclick="go_login()">&nbsp&nbsp로그인</div>
        </div>
      </div>
    </div>
    <script src={{url_for('user_bp.static', filename='js/join.js')}}></script>
  </body>

</html>
