@import url('https://fonts.googleapis.com/css2?family=Jua&family=Julius+Sans+One&family=Rubik&display=swap');

body {
  background-color: #f1f1f1;
}

.main_joiner{
    margin: 170px auto;
    max-width: fit-content;
    border: none;
    padding: 0;
    text-align: center;
}

.mj_joindata_box{
    width: 400px;
    height: 500px;
    background-color: #f1f1f1;
    border: none;
}

img {
  width: 59px;
  height: 55px;
}

/* YOGAYO 글씨로고 */
.mj_jb_logo{
    font-family: 'Julius Sans One', sans-serif;
    color: #83CCC0;
    font-size: 36px;
    margin-top: -20px;
}

/* 요가동작 글씨 */
.mj_jb_check{
    font-size: 16px;
    font-weight: 400;
    margin-top: -15px;
    letter-spacing: -1px;
    word-spacing: -1.5px;

}


/* 이메일 글씨 */
.mj_jb_email_text{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    padding-left: 70px;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* 이메일 박스 */
.mj_jb_email_box{
    width: 280px;
    height: 38px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    text-align: center;
}

/* 닉네임 글씨 */
.mj_jb_nick_text{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    padding-left: 70px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* 닉네임 박스 */
.mj_jb_nick_box{
    width: 280px;
    height: 38px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    text-align: center;
}

/* 비밀번호 글씨 */
.mj_jb_password_text{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    padding-left: 70px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* 비밀번호 박스 */
.mj_jb_password_box{
    width: 280px;
    height: 38px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    text-align: center;
    box-sizing: border-box;
}

/* 회원가입 버튼 */
.mj_jb_join_button{
    font-size: 22px;
    font-weight: bolder;
    width: 285px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #83CCC0;
    color: white;
    margin-top: 50px;
}

/* 회원가입 버튼 호버 */
.mj_jb_join_button:hover{ 
    box-shadow:285px 0 0 0 rgba(20,93,81,0.5) inset; 
}

/* 회원가입 버튼 누르면 글씨 작아지는 것 */
.mj_jb_join_button:active{
    font-size:20px;
  }

/* 회원질문 */
.mj_jb_question{
    font-size: 24px;
    font-weight: normal;
    margin-top: 50px;
}

/* 로그인 클릭 */
.mj_jb_login{
    color: #0F6AF2;
    font-size: 24px;
    font-weight: normal;
    margin-top: 50px;
    text-decoration-line:none;
}

/* 박스쉐도우 
온클릭 메소드 애드이벤트리스너 */
