@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Myeongjo&family=Noto+Serif+KR&family=Sunflower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');
html {
    background-color: rgb(241, 241, 241);
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.main_header {
    width: 100%;
    height: 45.21px;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
}

.mh_contents {
    margin-left: 14%;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    height: 100%;
}

.mh_c_content {
    background: rgb(241, 241, 241);
    margin-left: 15px;
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #83CCC3;
    height: 10%;
    line-height: 10%;
    width: 50%;
}

.mh_c_icon {
    width: 50px;
    height: 50px;
    background: url('/static/images/noun-yoga-3000987.svg') no-repeat;
    background-size: cover;
    display: inline-block;
}

.main_upper_card {
    height: 100vh;
}

.muc_main_image {
    width: 95%;
    height: auto;
    max-height: 100vh;
    position: relative;
    object-fit: cover;
    margin-left: 51px;
}

.muc_main_upper_content {
    position: absolute;
    left: 14%;
    top: 22%;
    font-size: 3rem;
    height: 12%;
    font-family: 'Noto Serif KR', serif;
    width: 40%;
}

.muc_main_upper_button {
    position: absolute;
    width: 8.5%;
    height: 4.5%;
    left: 36%;
    top: 35%;
    font-size: 1rem;
    font-family: 'Noto Serif KR', serif;
    background-color: #83CCC3;
    color: white;
    border-radius: 10px;
    border: 0;
}

.middle_picture_card {
    height: 100vh;
    width: 98%;
    display: flex;
}

.m_pc_left {
    width: 50%;
    height: 100%;
    display: flex;
}

.m_pc_l_content {
    width: 100%;
    font-size: 53px;
    margin: auto;
    font-weight: 800;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
}

.m_pc_l_under {
    margin-top: 2rem;
    font-size: 17px;
    font-weight: 200;
    color: rgb(130, 130, 130);
    line-height: 2.5rem;

}

.m_pc_right {
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
}

.m_pc_r_content {
    width: 80%;
    height: 50%;
    margin: auto;
    background-color: rgb(242, 242, 242);
}

.m_pc_r_c_img {
    max-width: 45rem;
    height: auto;
    position: relative;
    top: -30%;
    left: -12%;
    object-fit: cover;
    z-index: 2;
}

#modal.upload_modal_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 4;
}

#modal .upload_modal {
    /* background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px; */
    border-radius: 15px;
    position: fixed;
    height: 350px;
    width: 350px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0, auto;
    background-color: #f1f1f1;
    display: block;
    padding-bottom: 20px;
    z-index: 5;
}

#modal .title {
    padding-left: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px gray;
    color: #83CCC0;

}

#modal .title h2 {
    display: inline;
}

#modal .close-area {
    /* position: relative; */
    display: inline;
    float: right;
    font-size: 23px;
    margin-right: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.input_title {
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding-left: 10px;
    width: 280px;
    height: 50px;
}

.select_file {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 200px;
    border-radius: 3px;
}

.button-box {
    display: flex;
    justify-content: center;
}

.upload_button {
    margin-left: 10px;
    margin-top: 75px;
    font-family: 'Do Hyeon', sans-serif;
    color : white;
    font-size: 17px;
    margin-bottom: 20px;
    background-color: #83CCC0;
    height: 30px;
    width: 60px;
    border: 0;
    border-radius: 5px;
}

.upload_button:hover {
    cursor: pointer;
}

.um_preview_image {
    width: 350px;
    height: 365px;
    position: fixed;
    z-index: 5;
    left: 18%;
    top: 36%;
}

@keyframes pop-top-bottom {
    0% {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }

    100% {
        top: 0px;
        transform: translate3d(0, 3%, 0);
    }
}

.pop_up_modal_wrapper {
    z-index: 4;
}

.pop_up_modal {
    margin: auto;
    display: flex;
    position: fixed;
    left: 20%;
    margin-top: 15rem;
    width: 60%;
    height: 40%;
    text-align: center;
    animation-name: pop-top-bottom;
    animation-duration: 1.8s;
    animation-iteration-count: normal;
    border-radius: 15px;
    font-size: 25px;
    box-shadow: 2px 2px 2px 2px rgb(210, 210, 210);
    z-index: 5;
    background-color: #f1f1f1;
}

.pum_r_content {
    display: block;
    margin-top: 10rem;
}

.pum_x_btn {
    width: 0;
    position: relative;
    top: 1%;
    left: 97%;
    color: #83CCC0;
    z-index: 5;
}

.pum_x_btn:hover {
    cursor: pointer;
}

.pum_r_btn {
    height: 50px;
    width: 20%;
    margin-top: 5rem;
    border-radius: 15px;
    border: 0;
    color: white;
    font-size: 20px;
    background-color: #83CCC0;
}

.pum_r_btn:hover {
    cursor: pointer;
}

.pum_r_img_box {
    border-radius: 15px;
    width: 30%;
    height: 100%;
}

.pum_r_img {
    border-radius: 15px;
    width: auto;
    max-width: 50%;
    height: 600px;
}

.pum_right {
    width: 70%;
}