/* .html {
    height: 100vh;
    width: 100vw;

}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 250, 250)
}

.upload_modal_wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}

.upload_modal {
    border-radius: 15px;
    position: fixed;
    height: calc(600px +10%);
    width: 400px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0, auto;
    background-color: white;
    display: block;
} */

#modal.upload_modal_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .upload_modal {
    /* background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px; */
    border-radius: 15px;
    position: fixed;
    height: 350px;
    width: 350px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0, auto;
    background-color: #f1f1f1;
    display: block;
    padding-bottom: 20px;
}

#modal .title {
    padding-left: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px gray;
    color: #83CCC0;

}

#modal .title h2 {
    display: inline;
}

#modal .close-area {
    /* position: relative; */
    display: inline;
    float: right;
    font-size: 23px;
    margin-right: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

/* #drag .upload-box{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width:300px;
    height: 300px;
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* border: 1px solid gray; */
/* box-shadow: 2px 3px 9px hsl(0, 0%, 47%); 
    padding:10px;
} */

.input_title {
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding-left: 10px;
    width: 280px;
    height: 50px;
}

.select_file {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 200px;
    border-radius: 3px;
}

.button-box {
    display: flex;
    justify-content: center;
}

.upload_button {
    margin-left: 10px;
    margin-top: 75px;
    margin-bottom: 20px;
    height: 30px;
    width: 60px;
    border: 0;
    border-radius: 5px;
}

/* #modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
} */