<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>로그인 | YOGAYO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css"/>
  </head>
  <body>
    <div class="main_loginer">
        <div class="ml_information_box">
            <a href="https://yogaboy.notion.site/A-I-b57515253a8b4013bd470267235ca12f" target=”_black”><img src="../static/images/symbol_image.png"/></a>
            <div class="ml_ib_logo" ><p>YOGAYO</p></div>
            <p class="ml_ib_email_text">이메일</p>
            <input type="text" id="user_email" class="ml_ib_email_box"/>
            <p class="ml_ib_password_text">비밀번호</p>
            <input type="password" id="user_password" class="ml_ib_password_box"/>
            <button id="login_button" class="ml_ib_login_button">로그인</button>
            <br>
            <a href="#" onClick="alert('새로 만드셔요 ㅎ..')" class="ml_ib_find">비밀번호 찾기</a>
            <div class="ml_ib_question">회원이 아니셔요?<div class="ml_ib_join" onclick="go_sign_in()">&nbsp&nbsp회원가입</div></div>
        </div>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
