<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Document</title>
</head>

<body>
    <div id="modal" class="upload_modal_wrapper">
        <div class="upload_modal">
            <div id="drag" class="um_body">
                <br>
                <div class="close-area">X</div>
                <div class="title">
                    <h1>나의 요가 자세</h1>
                </div>
                <br>
                <div class="file-upload">
                    <div class="upload-box">
                        <div class="input_box">
                            <input class="input_title" type="text" id="title" placeholder="업로드할 이미지 제목을 입력해주세요">
                            <br>
                            <br>
                            <input class="select_file" type="file" id="file" class="btn-upload">
                        </div>
                    </div>
                    <div class="button-box">
                        <button class="upload_button" onclick="posting()">업로드</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="main_header">
        <div class="mh_contents">
            <div class="mh_c_icon">
            </div>
            <div class="mh_c_content">YoGaYo</div>
        </div>
    </div>
    <div class="main_upper_card">
        <img class="muc_main_image" src="../static/images/background.png">
        <div class="muc_main_upper_content">당신의 자세가 정확한지<br>확인하세요</div>
        <button class="muc_main_upper_button" id="modal_button">확인하기</button>
    </div>

    <div class="middle_picture_card">
        <div class="m_pc_left">
            <div class="m_pc_l_content">
                &nbsp&nbsp당신의 자세를 <br>기록하세요
                <p class="m_pc_l_under">
                    A.I 기술을 통해서 당신의 자세를<br>
                    분석하여 정확도를 도출합니다 <br>
                    저희가 제공하는 정확도를 바탕으로 <br>
                    하루하루 나아져 가는 자세를 확인하세요
                </p>
            </div>

        </div>
        <div class="m_pc_right">
            <div class="m_pc_r_content">
                <img class="m_pc_r_c_img" src="../static/images/bow.png">
            </div>

        </div>
    </div>
    <div class="under_diary_card"></div>
    <div class="main_footer"></div>
</body>
<script src="/static/js/main.js"></script>

</html>