<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
</head>

<body>
    <div class="main_header">
        <div class="mh_contents">
            <div class="mh_c_icon">
            </div>
            <div class="mh_c_content">YoGaYo</div>
        </div>
    </div>
    <div class="main_upper_card">
        <img class="muc_main_image" src="../static/images/background.png">
        <div class="muc_main_upper_content">당신의 자세가 정확한지<br>확인하세요</div>
        <button class="muc_main_upper_button">확인하기</button>
    </div>

    <div class="middle_picture_card">
        <div class="m_pc_left">
            <div class="m_pc_l_content">
                &nbsp&nbsp당신의 자세를 <br>기록하세요
                <p class="m_pc_l_under">
                    A.I 기술을 통해서 당신의 자세를<br>
                    분석하여 정확도를 도출합니다 <br>
                    저희가 제공하는 정확도를 바탕으로 <br>
                    하루하루 나아져 가는 자세를 확인하세요
                </p>
            </div>

        </div>
        <div class="m_pc_right">
            <div class="m_pc_r_content">
                <img class="m_pc_r_c_img" src="../static/images/bow.png">
            </div>

        </div>
    </div>
    <div class="under_diary_card"></div>
    <div class="main_footer"></div>
</body>

</html>