<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/css/test.css">
        <title>YoGaYo</title>
    </head>

    <body>
        <div id="modal" class="upload_modal_wrapper">
            <div class="upload_modal">
                <div id="drag" class="um_body">
                    <br>
                    <div class="close-area">X</div>
                    <div class="title">
                        <h1>나의 요가 자세</h1>
                    </div>
                    <br>
                    <div class="file-upload">
                        <div class="upload-box">
                            <div class = "input_box">
                               <input class="input_title" type="text" id="title" placeholder="업로드할 이미지 제목을 입력해주세요">
                               <br>
                               <br>
                               <input class="select_file" type="file" id="file" class="btn-upload">
                            </div>
                        </div>
                        <div class="button-box">
                            <button class="upload_button" onclick="posting()">업로드</button>
                        </div>
                        
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <button id ="modal_button" >모달</button>
    </body>
    <script src="../static/js/test.js?ver=123"></script>
</html>